/* Color schemes */

/* primary - teal
secondary - #4c9e9e
tertiary - C6D8E4 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    color: #C6D8E4;
    background-image: url('https://images.unsplash.com/photo-1601119479271-21ca92049c81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu li a{
    text-decoration: none;
    color: #ffffff;
    z-index: 3;
}

li{
    list-style: none;
}

/* Navigation Section */

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    background-image: linear-gradient(to right, rgba(8, 78, 78,0.7), rgba(13, 218, 218,0.7));
    color: #ffffff;
    height: 50px;
}

/* Logo */

.logo{
    font-size: 32px;
}

/* MENU */
.menu{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1em;
    font-size: 18px;
    z-index: 1;
}

.menu li:hover{
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

.course{
    position: relative;
}

.drop-down{
    background-color: /*rgb(1, 139, 139)*/#09BABA;
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 30px;
}

.drop-down li + li {
    margin-top: 10px;
}

.drop-down li{
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.drop-down li:hover{
    background-color: #4c9e9e;
}

.course:hover .drop-down{
    display: block;
}

/* RESPONSIVENESS */
input[type=checkbox]{
    display: none;
}

.hamburger{
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px){
    .hamburger{
        display: block;
    }
  

    .menu{
        display: none;
        position: absolute;
        background-color: teal;
        background-image: linear-gradient(to left, rgba(8, 78, 78,0.7), rgba(13, 218, 218,0.7));
        right: 0;
        /* left: 0; */
        text-align: center;
        padding: 16px 0;
        margin-inline: 0.75rem;

    }

    .menu li:hover{
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li + li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked ~ .menu{
        display: block;
    }

    .drop-down{
        left: 40%;
        top: 20px;
        transform: translateX(35%);
    }

    .drop-down li:hover{
        background-color: #4c9e9e;
    }
}

/* FORM */

 .formDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 600px;
 }

 .formDiv h1, form label {
  color: teal;
}

 .formDiv h1 {
  font-size: 20px;
  text-align: center;
}

 .container {
   position: relative;
   width: 80%;
   background-color: rgba(160, 216, 216,0.9);
   border-radius: 5px;
   padding: 10px 20px;
   height: 530px;
 }

 .form-group {
   margin: 10px auto;
 }

 form input {
   width: 90%;
   background-color: rgb(213, 243, 243);
   border: none;
   border-radius: 10px;
   padding: 10px;
   color: teal;
   height: 25px;
 }

 #text, #text2, #userNameText, #phoneNumberText, #confirmText {
   margin:5px 0px 0px 10px;
   display: block;
   font-weight: 300;
   font-style: italic;
   font-size: 10px;
 }

 #form .email-box {
   position: relative;
 }

 #form.invalid .email-box:before {
  content: "";
  position: absolute;
  right: 40px;
  top: 40px;
  width: 24px;
  height: 24px;
  background-image: url(invalid.png);
  background-size: cover;
  z-index: 1000;
}

#form.valid .email-box:before {
  content: "";
  position: absolute;
  right: 40px;
  top: 40px;
  width: 24px;
  height: 24px;
  background: url(valid.png);
  background-size: cover;
  z-index: 1000;
}

#togglePassword {
  margin-left: -30px;
  cursor: pointer;
  color: teal;
}

p {
    text-align: center;
}

#forget{
  text-align: center;
  margin: 5px 0px;
  text-decoration: none;
  color: teal;
}

#forget:hover {
  text-decoration: none;
}

#gender {
    border: none;
    border-radius: 10px;
    padding: 2px;
    background-color: rgb(213, 243, 243);
    color: teal;
    height: 25px;
}

 .btn {
   border: none;
   margin: 5px 0px;
   background-color: teal;
 }

 .btn:hover {
   background-color: white;
   color: teal;
   font-weight: bolder;
 }

 @media screen and (min-width: 600px){
   .container {
     width: 50%;
   } 
 }

 @media screen and (min-width: 800px){
  .container {
    width: 40%;
  }
}

  @media screen and (min-width: 1000px){

    .container {
      width: 30%;
    }

/*   .formDiv, .container, #form {
      width: 100px;
    } */
  }
